<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <i class="material-icons">shopping_cart</i>Chennai Shoppers</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div class="row" *ngIf="userClaims">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-content">
          <span>Product Name :{{userClaims.products[1].name}}</span>
          <br>
          <span>Unit Price : {{userClaims.products[1].price}}</span>
          <br>
          <span>Product Id : {{userClaims.products[1].Id}} {{userClaims.LastName}}</span>
          <br>
          <br>
          <span>Product Name :{{userClaims.products[2].name}}</span>
          <br>
          <span>Unit Price : {{userClaims.products[2].price}}</span>
          <br>
          <span>Product Id : {{userClaims.products[2].Id}} {{userClaims.LastName}}</span>
          
        </div>
      </div>
    </div>
  </div>