<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">
      <i class="material-icons">shopping_cart</i>Chennai Shoppers</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a (click)="Logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="loading else loaded" id="loading">
    loading ...
</div>
<ng-template #loaded>
<div *ngIf="userClaims?.products && userClaims?.products?.length > 0">
    <table >
        <tr>
            <th>Product</th>
            <th>Price</th> 
          </tr>
        <tr *ngFor="let product of userClaims.products; let i = index">
            <td> {{ product.name }} </td> 
            <td> {{product.price}} </td> 
          </tr>
    </table>   
</div>
</ng-template>