<small>All fields are mandatory</small>
<form novalidate class="col s12 white" #userRegistrationForm="ngForm" (ngSubmit)="OnSubmit(userRegistrationForm)">
   <div class="row">
     <div class="input-field col s12">
        <input class="validate" type="text" name="email" #email="ngModel" [(ngModel)]="user.email" required>
      <label data-error="Required field!">Email</label>
     </div>
   </div>
   <div class="row">
      <div class="input-field col s12">
          <input class="validate" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required minlength="3">
          <label [attr.data-error]="password.errors!=null?(password.errors.required?'Required field!':'Minimum 3 characters needed'):''">Password</label>
      </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
          <button class="btn-large btn-submit" type="submit">SignUp</button>
        </div>
      </div>
</form>
